*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(49, 54, 59);
    width: 960px;
    height: 100vh;
}

.titulo{}

.subTitulo{}

.form{

}

