* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(49, 54, 59);
    width: 960px;
    height: 100vh;
}

.titulo {
    font-family: Mulish;
    font-size: 60px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
}

.subTitulo {
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.inputGroup span {
    margin-right: 10px;
    color: #E0E0E0;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.inputGroup input {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #E0E0E0;
    height: 60px;
    width: 379px;
    left: 388px;
    top: 266px;
    border-radius: 50px;
}

button {
    margin-top: 10px;
}