* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(49, 54, 59);
    width: 960px;
    height: 1080px;
}

.titulo {
    position: absolute;
    width: 273px;
    height: 75px;
    left: 296px;
    top: 94px;

    color: #E0E0E0;
    font-family: Mulish;
    font-size: 60px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
}

.subTitulo {
    position: absolute;
    width: 301px;
    height: 24px;
    left: 298px;
    top: 175px;

    color: #E0E0E0;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 471px;
    height: 60px;
    left: 296px;
    top: 266px;
}

.inputGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.inputGroup span {
    margin-right: 19px;
    color: #E0E0E0;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;

}

.inputGroup input {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    /* color: #E0E0E0; */
    color: red;
    height: 60px;
    width: 379px;
    border-radius: 50px;
}

.botao {
    position: absolute;
    width: 471px;
    height: 67px;
    left: 0px;
    top: 658px;
    border: none;
    border-radius: 50px;


    background-color: red;
    box-shadow: 5px 5px 15px 0px #00000080;


    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    color: #FFFFFF;

    transition: 0.5s;
}

.botao:hover {
    transform: scale(1.1);
}

.logo {
    position: absolute;
    width: 484px;
    height: 66px;
    left: 1198px;
    top: 36px;
    z-index: 100;
}

.imagem {
    position: absolute;
    width: 960px;
    height: 1080px;
    left: 960px;
    top: 0px;
}