* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.bodyFull {
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 auto;
    overflow: hidden;
}

.bg {
    position: absolute;
    left: 1225px;
    top: 447px;
    mix-blend-mode: normal;
    opacity: 0.5;

}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 130px;

    background: rgba(255, 255, 255, 0.95);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.1);
}

.cabecalho .blockPreto {
    height: 64px;
    width: 588px;

    padding-left: 12px;

    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 14px 15px 0px;
}

.blockTitulo {
    color: white;
    width: 295px;
    height: 44px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    /* or 91% */

    display: flex;
    align-items: center;
}

.blockParag {
    color: white;
}

.blockLinks {
    display: flex;
    flex-direction: column;
}

.positionLogo {
    position: absolute;
    width: 176px;
    height: 24px;
    left: 1721px;
    top: 20px;
}

.positionLogout {
    position: absolute;
    width: 55px;
    height: 36px;
    left: 1842px;
    top: 65px;
}

.tarefaNome {
    height: 45px;
    width: 391px;
    margin-left: 24px;
    margin-top: 34px;
    border-radius: 10px;
    border: 1px solid #FECE00
}

.tarefaNome::placeholder {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 15px;
}

.tarefaDia {
    height: 45px;
    width: 240px;
    border-radius: 10px;
    border: 1px solid #FECE00
}

.tarefaDia::placeholder {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 8px;
}

.tarefaHora {
    height: 45px;
    width: 120px;
    border-radius: 10px;
    border: 1px solid #FECE00
}

.addTarefa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 4px;

    position: absolute;
    width: 200px;
    height: 44px;
    left: 1473px;
    top: 169px;

    background: #00BA88;
    border-radius: 10px;

    font-family: 'Mulish';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;

    transition: 0.5s;
}

.addTarefa:hover {
    transform: scale(1.2);
}

.deleteTarefa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 4px;

    position: absolute;
    width: 200px;
    height: 44px;
    left: 1697px;
    top: 169px;

    background: #FF3D1F;
    border-radius: 10px;

    font-family: 'Mulish';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;

    transition: 0.5s;
}

.deleteTarefa:hover {
    transform: scale(1.2);
}

.containerDias {
    position: absolute;
    width: 1750px;
    height: 33px;
    left: 125px;
    top: 232px;
}

.btnMonday {
    width: 240px;
    height: 33px;
    background-color: #FF0024;

    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 10px;
    margin-right: 1px;
}

.btnTuesday {
    width: 240px;
    height: 33px;
    background-color: #FF8000;

    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 10px;
    margin-right: 1px;
}

.btnWednesday {
    width: 240px;
    height: 33px;
    background-color: #FFCE00;

    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 10px;
    margin-right: 1px;
}

.btnThursday {
    width: 240px;
    height: 33px;
    background-color: rgba(255, 0, 36, 0.7);

    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 10px;
    margin-right: 1px;
}

.btnFriday {
    width: 240px;
    height: 33px;
    background-color: rgba(255, 128, 0, 0.7);

    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 10px;
    margin-right: 1px;
}

.btnSaturday {
    width: 240px;
    height: 33px;
    background-color: rgba(255, 206, 0, 0.7);

    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 10px;
    margin-right: 1px;
}

.btnSunday {
    width: 240px;
    height: 33px;
    background-color: rgba(255, 0, 36, 0.5);

    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 10px;
    margin-right: 1px;
}

.Tempo {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 85px;
    height: 733px;
    left: 24px;
    top: 271px;

    border-radius: 10px;
}

.boxMenor {
    width: 85px;
    height: 75px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius: 10px;
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 17px;
    text-align: center;
    color: #3B3E45;
    margin: 0;
    padding: 0;
}

.boxTime {
    width: 85px;
    height: 85px;
    background: green;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius: 10px;
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 17px;
    text-align: center;
    color: #3B3E45;
    margin: 0;
    padding: 0;

    font-family: 'Mulish';
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.containerTarefas {
    position: absolute;
    display: grid;
    top: 360px;
    left: 24px;
    width: 98%;
    height: 600px;
    overflow: scroll;
    grid-auto-rows: 94px;
}

.tarefasCadastrada {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 614px;
    height: 85px;
}

.tarefaTitulo {
    border-left: 15px solid #00BA88;
    top: 0;
    left: 120px;
    display: table;
    width: 512px;
    height: 85px;
    background: linear-gradient(112.83deg,
            rgba(228, 240, 248, 0.42) 0%,
            rgba(255, 255, 255, 0.336) 110.84%);
    border: 1px solid var(--White);
    box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(10.5px);

    border-radius: 15px;
}

.tarefaTitulo p {
    padding: 12px 0px 13px 28px;

    font-family: 'Mulish';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    color: #333333;
}

.tarefaTitulo button {
    position: absolute;
    right: 7px;
    top: 6px;
    width: 57px;
    height: 25px;

    background: #FF3D1F;
    border-radius: 4px;

    font-family: 'Mulish';
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}