* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.bodyFull {
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 auto;
    overflow: hidden;
}

.bg {
    position: absolute;
    left: 1225px;
    top: 447px;
    mix-blend-mode: normal;
    opacity: 0.5;

}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 130px;

    background: rgba(255, 255, 255, 0.95);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.1);
}

.cabecalho .blockPreto {
    height: 64px;
    width: 588px;

    padding-left: 12px;

    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 14px 15px 0px;
}

.blockTitulo {
    color: white;
    width: 295px;
    height: 44px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    /* or 91% */

    display: flex;
    align-items: center;
}

.blockParag {
    color: white;
}

.blockLinks {
    display: flex;
    flex-direction: column;
}

.positionLogo {
    position: absolute;
    width: 176px;
    height: 24px;
    left: 1721px;
    top: 20px;
}

.positionLogout {
    position: absolute;
    width: 55px;
    height: 36px;
    left: 1842px;
    top: 65px;
}

.tarefaNome {
    height: 45px;
    width: 391px;
    margin-left: 24px;
    margin-top: 34px;
    border-radius: 10px;
    border: 1px solid #FECE00
}

.tarefaNome::placeholder {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 15px;
}

.tarefaDia {
    height: 45px;
    width: 240px;
    border-radius: 10px;
    border: 1px solid #FECE00
}

.tarefaDia::placeholder {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 8px;
}

.tarefaHora {
    height: 45px;
    width: 120px;
    border-radius: 10px;
    border: 1px solid #FECE00
}

.addTarefa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 4px;

    position: absolute;
    width: 200px;
    height: 44px;
    left: 1473px;
    top: 169px;

    background: #00BA88;
    border-radius: 10px;

    font-family: 'Mulish';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;

    transition: 0.5s;
}

.addTarefa:hover {
    transform: scale(1.2);
}

.deleteTarefa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 4px;

    position: absolute;
    width: 200px;
    height: 44px;
    left: 1697px;
    top: 169px;

    background: #FF3D1F;
    border-radius: 10px;

    font-family: 'Mulish';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;

    transition: 0.5s;
}

.deleteTarefa:hover {
    transform: scale(1.2);
}